<template>
  <div class="user-loans">
    <el-button @click="newLoan" id="newLoan" type="primary">Apply new Loan</el-button>
    <form-wrapper title="User loans">
      <el-table :data="userLoans" stripe>
        <el-table-column prop="amount" sortable label="Amount">
          <template #default="scope">
            {{ scope.row.amount }}
          </template>
        </el-table-column>
        <el-table-column prop="terms" sortable label="Terms">
          <template #default="scope">
            {{ scope.row.terms }} months
          </template>
        </el-table-column>
        <el-table-column prop="status" sortable label="Status"/>
        <el-table-column label="Action" width="160">
          <template #default="scope">
            <el-button size="mini" type="primary" plain @click.stop="repayments(scope.row)">Repayments
            </el-button
            >
          </template>
        </el-table-column>
      </el-table>

      <el-drawer
        v-model="isApplyNew"
        title="Apply new loan"
        direction="rtl"
        :before-close="closeLoanForm"
        :size="isMobile ? '100%' : '50%'"
      >
        <user-apply-loan ref="loanForm"/>
      </el-drawer>


    </form-wrapper>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import * as users from "../../store/types/users";
import * as global from "../../store/types/global";
import { userLoan } from "../../router/userRoutes";
import { Cookie } from "../../ulits/cookie";
import FormWrapper from "../commons/FormWrapper";
import UserApplyLoan from "./UserLoanForm";

export default {
  name: "UserLoans",
  components: {
    UserApplyLoan,
    FormWrapper
  },
  computed: {
    ...mapGetters({
      isMobile: global.IS_MOBILE,
      userLoans: users.USER_LOANS,
    }),
    isApplyNew() {
      return this.$route.name === userLoan.USER_APPLY_LOAN.name
    }
  },
  methods: {
    ...mapActions({
      loadUserLoan: users.LOAD_USER_LOANS
    }),
    closeLoanForm() {
      this.isLoading = true
      this.loadUserLoan().then(() => {
        this.isLoading = false
        this.$router.push({name: userLoan.USER_LOANS.name})
      })
    },
    repayments(loan) {
      this.$router.push({name: userLoan.USER_REPAY_SCHEDULE.name, params: {loanId: loan.id}})
    },
    newLoan() {
      this.$router.push({name: userLoan.USER_APPLY_LOAN.name})
      this.$refs['loanForm'].resetForm()
    },
    initLoad() {
      const userId = Cookie.Read('userId')
      if (userId) {
        this.isLoading = true
        this.loadUserLoan().then(() => {
          this.isLoading = false
        })
      }
    }
  },
  mounted() {
    this.initLoad()
  },
  watch: {
    isApplyNew() {
      this.initLoad()
    }
  }
}
</script>

<style scoped>

</style>
