<template>
  <div class="repay-schedule">
    <el-button @click="backMyLoan" type="primary">Back to my loans</el-button>
    <form-wrapper title="Repayments">
      <el-table v-loading="isLoading" :data="userRepayments" stripe style="width: 100%">
        <el-table-column prop="datePay" sortable label="Repayment Date"/>
        <el-table-column prop="amount" label="Amount"/>
        <el-table-column prop="status" sortable label="Status"/>
        <el-table-column label="Action" width="160">
          <template #default="scope">
            <el-button size="mini" type="primary" :disabled="scope.row.status === loanStatus.REPAID" plain
                       @click.stop="confirmRepay(scope.row)">Repay
            </el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </form-wrapper>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import * as users from "../../store/types/users";
import { userLoan } from "../../router/userRoutes";
import { Cookie } from "../../ulits/cookie";
import FormWrapper from "../commons/FormWrapper";
import { loanStatus } from "../../enums/userLoan";

export default {
  name: "UserRepaySchedule",
  components: {FormWrapper},
  data: () => {
    return {
      loanStatus: loanStatus,
      isLoading: false
    }
  },
  computed: {
    ...mapGetters({
      userRepayments: users.USER_USER_REPAYMENTS
    }),
  },
  methods: {
    ...mapActions({
      loadUserRepayments: users.LOAD_USER_REPAYMENTS,
      repay: users.USER_REPAY
    }),
    confirmRepay(repayment) {
      this.$messageBox.confirm(
        'Are you sure to repay the amount of ' + repayment.amount,
        'Repayment',
        {
          distinguishCancelAndClose: true,
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        })
        .then(() => {
          this.isLoading = true
          const payload = {
            id: repayment.id
          }
          this.repay(payload).then(() => {
            this.isLoading = false
            this.$message({type: 'success', message: 'Repaid'})
            this.initLoad()
          })
        })
    },
    backMyLoan() {
      this.$router.push({name: userLoan.USER_LOANS.name})
    },
    initLoad() {
      const userId = Cookie.Read('userId')
      if (userId) {
        this.isLoading = true
        const payload = {
          loanId: this.$route.params.loanId
        }
        this.loadUserRepayments(payload).then(() => {
          this.isLoading = false
        })
      }
    }
  }
  ,
  mounted() {
    this.initLoad()
  }
}
</script>

<style scoped>

</style>
