<template>
  <div class="user-form">
    <form-wrapper>
      <el-form
        label-position="top"
        status-icon
        ref="ruleForm"
        :rules="rules"
        :model="ruleForm"
      >
        <el-form-item label="Amount" prop="amount" required>
          <el-input v-model.number="ruleForm.amount" id="amount"></el-input>
        </el-form-item>
        <el-form-item label="Loan terms (number of schedule repayment)" prop="terms" required>
          <el-input-number v-model="ruleForm.terms" id="terms"/>
        </el-form-item>

        <form-footer @onSubmit="onSubmit" @resetForm="closeForm"></form-footer>
      </el-form>
    </form-wrapper>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import * as users from "../../store/types/users";
import { userLoan } from "../../router/userRoutes";
import FormWrapper from "../commons/FormWrapper";
import FormFooter from "../commons/FormFooter";

export default {
  name: "UserApplyLoan",
  components: {
    FormWrapper,
    FormFooter
  },
  data: () => {
    const checkTerms = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('Please input the terms'))
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('Please input digits'))
        } else {
          if (value < 1) {
            callback(new Error('Terms must be greater than 0'))
          } else {
            callback()
          }
        }
      }, 100)
    }
    return {
      ruleForm: {
        amount: '',
        terms: 6
      },
      rules: {
        amount: [
          {
            required: true,
            message: 'Please enter an amount',
            trigger: ['blur'],
          }
        ],
        terms: [
          {
            validator: checkTerms,
            trigger: ['blur'],
          }

        ]
      },
      isLoading: false
    }
  },
  computed: {
    ...mapGetters({
      userProfile: users.USER_PROFILE
    }),
  },
  methods: {
    ...mapActions({
      createLoan: users.CREATE_USER_LOAN
    }),
    userLoans() {
      this.$router.push({name: userLoan.USER_LOANS.name})
    },
    doSubmit() {
      this.isLoading = true
      this.createLoan(this.ruleForm).then(response => {
        this.isLoading = false
        this.$message({type: 'success', message: this.$t('Saved')})
        this.closeForm()
      })
    },
    onSubmit() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          this.doSubmit()
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['ruleForm'].resetFields()
    },
    closeForm() {
      this.resetForm()
      this.$router.push({name: userLoan.USER_LOANS.name})
    },
  }
}
</script>

<style scoped>

</style>
