<template>
  <div class="user-form">
    <h2>User registration</h2>
    <form-wrapper title="Registration Form">
      <el-form
        label-position="top"
        status-icon
        ref="ruleForm"
        :rules="rules"
        :model="ruleForm"
      >
        <el-form-item label="Full name" prop="name" required>
          <el-input v-model="ruleForm.name" id="name"></el-input>
        </el-form-item>

        <el-form-item label="Email" prop="email" required>
          <el-input v-model="ruleForm.email" id="email"></el-input>
        </el-form-item>

        <el-form-item label="Password" prop="password" required>
          <el-input type="password" v-model="ruleForm.password" id="password"></el-input>
        </el-form-item>
        <form-footer @onSubmit="onSubmit" @resetForm="resetForm"></form-footer>
      </el-form>
    </form-wrapper>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"
import * as users from '../../store/types/users'
import { userLoan } from "../../router/userRoutes"
import FormFooter from "../commons/FormFooter";
import FormWrapper from "../commons/FormWrapper";
import { Cookie } from "../../ulits/cookie";

export default {
  name: "UserRegister",
  components: {
    FormFooter,
    FormWrapper
  },
  data: () => {
    return {
      ruleForm: {
        name: '',
        email: '',
        password: ''
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Please enter your name',
            trigger: ['blur'],
          },
          {
            min: 3,
            max: 60,
            message: 'Length should be 3 to 60',
            trigger: ['blur'],
          },
        ],
        email: [
          {
            type: 'email',
            required: true,
            message: 'Please enter valid email',
            trigger: ['blur'],
          },
        ],
        password: [
          {
            required: true,
            message: 'Please enter your password',
            trigger: ['blur'],
          },
          {
            min: 6,
            max: 60,
            message: 'Length should be 6 to 60',
            trigger: ['blur'],
          },
        ]
      },
      isLoading: false
    }
  },
  computed: {
    ...mapGetters({
      userProfile: users.USER_PROFILE,
      isUserRegistered: users.IS_USER_REGISTERED
    }),
  },
  methods: {
    ...mapActions({
      register: users.USER_REGISTER,
      loadUser: users.LOAD_USER
    }),
    doSubmit(form) {
      this.register(this.ruleForm).then(response => {
        if (this.userProfile) {
          this.$router.push({name: userLoan.USER_LOANS.name})
        }
      })
    },
    onSubmit() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          this.doSubmit()
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['ruleForm'].resetFields()
    },
    initLoad() {
      const userId = Cookie.Read('userId')
      if (userId) {
        this.$router.push({name: userLoan.USER_LOANS.name})
      }
    }
  },
  mounted() {
    this.initLoad()
  }
}
</script>

<style lang="scss" scoped>
.form {

}

</style>
