<template>
  <router-view/>
</template>

<script>
import { Cookie } from "../../ulits/cookie";
import { userLoan } from "../../router/userRoutes";

export default {
  name: "UserDashboard",
  mounted() {
    const userId = Cookie.Read('userId')
    if (!userId) {
      this.$router.push({name: userLoan.USER_REGISTER.name})
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
