<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="apple-touch-icon-precomposed" data-icon="favicon" sizes="57x57"
          href="images/favicons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" data-icon="favicon" sizes="114x114"
          href="images/favicons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" data-icon="favicon" sizes="72x72"
          href="images/favicons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" data-icon="favicon" sizes="144x144"
          href="images/favicons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" data-icon="favicon" sizes="60x60"
          href="images/favicons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" data-icon="favicon" sizes="120x120"
          href="images/favicons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" data-icon="favicon" sizes="76x76"
          href="images/favicons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" data-icon="favicon" sizes="152x152"
          href="images/favicons/favicon.png"/>
    <link rel="icon" type="image/png" data-icon="favicon" href="images/favicons/favicon.png" sizes="196x196"/>
    <link rel="icon" type="image/png" data-icon="favicon" href="images/favicons/favicon.png" sizes="96x96"/>
    <link rel="icon" type="image/png" data-icon="favicon" href="images/favicons/favicon.png" sizes="32x32"/>
    <link rel="icon" type="image/png" data-icon="favicon" href="images/favicons/favicon.png" sizes="16x16"/>
    <link rel="icon" type="image/png" data-icon="favicon" href="images/favicons/favicon.png" sizes="128x128"/>
    <meta name="application-name" content="Aspire"/>
    <meta name="msapplication-TileColor" content="#01D167"/>
    <meta name="msapplication-TileImage" data-icon="favicon" content="images/favicons/favicon.png"/>
    <meta name="msapplication-square70x70logo" data-icon="favicon" content="images/favicons/favicon.png"/>
    <meta name="msapplication-square150x150logo" data-icon="favicon" content="images/favicons/favicon.png"/>
    <meta name="msapplication-wide310x150logo" data-icon="favicon" content="images/favicons/favicon.png"/>
    <meta name="msapplication-square310x310logo" data-icon="favicon" content="images/favicons/favicon.png"/>
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
