<template>
  <div class="card-header">
    <div class="avalable-text"> {{ $t('card.header.label') }}</div>
    <div class="aspire-icon"><i class="icon-Aspire-Icon"></i></div>
    <div class="card-balance-new">
      <div class="card-balance">
        <div class="currency">
          S$
        </div>
        <div class="amount">3,000</div>
        <el-button class="btn-new-card" icon="icon-Add"> {{ $t('button.newcard.label') }}</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardHeader"
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/breakpoints';

.card-header {
  padding: 30px 0px;
  @include breakpoint-lg-down() {
    color: $white-color;
    padding: 30px 30px 0px 30px;

  }

  .avalable-text{
    @include breakpoint-lg-down() {
      position: fixed;
    }
  }
  .aspire-icon {
    position: absolute;
    display: none;
    right: 30px;
    top: 10px;
    @include breakpoint-lg-down() {
      display: block;
      position: fixed;
    }
    color: $primary-green;

    i {
      font-size: 25px;
    }
  }

  .card-balance-new {
    margin-bottom: 34px;
    margin-top: 16px;
    @include breakpoint-lg-down() {
      width: calc(100vw - 45px);
      margin-bottom: 18px;
      position: fixed;
      top: 45px;
    }

    .card-balance {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .currency {
        display: inline-block;
        color: $white-color;
        background-color: $primary-green;
        padding: 6px 15px;
        height: 18px;
        border-radius: 4px;
        @include breakpoint-lg-down() {
          padding: 5px 15px;
          height: 20px;
        }
      }

      .amount {
        flex: 1;
        font-weight: bold;
        font-size: 26px;
        margin-left: 12px;
      }

      .btn-new-card {
        padding: 8px 20px 8px 10px;
        font-size: 13px;
        font-weight: bold;
        background-color: $primary-blue;
        color: $white-color;
        @include breakpoint-lg-down() {
          background-color: unset;
          color: $under-line;
          border: unset;
        }

        i {
          margin-right: 10px;
        }
      }
    }


  }
}
</style>
icon-Add>
