<template>
  <div class="card">
    <div class="aspire-logo"><i class="icon-Aspire-Logo"></i></div>
    <div class="card-holder">
      {{ data.cardHolder }}
    </div>
    <div class="card-number">
      <template v-if="showInfo">
        {{ data.cardNumber }}
      </template>
      <template v-else>
        <ul class="card-number-mask">
          <li><i class="circle"></i></li>
          <li><i class="circle"></i></li>
          <li><i class="circle"></i></li>
          <li class="space"><i class="circle"></i></li>
          <li><i class="circle"></i></li>
          <li><i class="circle"></i></li>
          <li><i class="circle"></i></li>
          <li class="space"><i class="circle"></i></li>
          <li><i class="circle"></i></li>
          <li><i class="circle"></i></li>
          <li><i class="circle"></i></li>
          <li class="space"><i class="circle"></i></li>
          <li>{{ data.cardNumber.substr(-4) }}</li>
        </ul>
      </template>
    </div>
    <div class="card-meta">
      <div class="card-expiration">Thru: {{ data.expiration }}</div>
      <div class="card-cvv">
        <template v-if="showInfo">
          CVV: {{ data.cvv }}
        </template>
        <template v-else>
          CVV: <span class="star">***</span>
        </template>
      </div>
    </div>
    <div class="card-logo">
      <i class="icon-Visa"></i>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    data: {
      type: Object,
      default: () => {
        return {};
      },
      required: true
    },
    showInfo: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    showCardNumber() {
      let cardNumber = ''
      if (this.showInfo && this.data.cardNumber) {
        cardNumber = this.data.cardNumber
      }
      return cardNumber

    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/breakpoints';

.card {
  display: block;
  width: 100%;
  cursor: pointer;

  border-radius: 10px;
  padding: 28px;
  background-color: $primary-green;
  color: $white-color;
  @include breakpoint-xl-down() {
    padding: 20px;
  }

  .aspire-logo {
    display: block;
    text-align: right;

    i {
      font-size: 23px;
    }
  }

  .card-holder {
    text-align: left;
    margin-top: 28px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .card-number {
    text-align: left;
    margin-top: 30px;
    height: 10px;
    font-size: 14px;
    letter-spacing: 7px;

    .card-number-mask {
      margin-left: -40px;
      margin-top: 0px;

      li {
        display: inline-block;
        list-style: none;
        margin-right: 2px;

        &.space {
          margin-right: 20px;
        }
      }

    }

    .circle:before {
      letter-spacing: 0px;
      content: ' \25CF';
      font-size: 20px;
    }
  }

  .card-meta {
    text-align: left;
    margin-top: 28px;
    font-size: 14px;
    letter-spacing: 3px;

    .card-expiration {
      text-align: left;
      display: inline-block;
    }

    .card-cvv {
      display: inline-block;
      margin-left: 30px;
      position: relative;

      .star {
        position: absolute;
        font-size: 30px;
        line-height: 30px;
        margin-left: 10px;
      }
    }
  }

  .card-logo {
    margin-top: 15px;
    font-size: 23px;
    display: block;
    text-align: right;
  }


}


</style>
