<template>
  <div class="card-actions">
    <div class="action" v-for="(cardAction, index) in cardActions" :key="index">
      <el-image :src="'images/' +cardAction.icon"></el-image>
      <div class="action-label">{{ $t(cardAction.label) }}</div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CardActions",
  data: () => {
    return {
      cardActions: [
        {
          icon: 'freeze-card.svg',
          label: 'button.freezecard.label'
        },
        {
          icon: 'set-spend-limit.svg',
          label: 'button.setspendlimit.label'
        },
        {
          icon: 'g-pay.svg',
          label: 'button.addtogpay.label'
        },
        {
          icon: 'replace-card.svg',
          label: 'card.recenttransactions.label'
        },
        {
          icon: 'cancel-card.svg',
          label: 'button.cancelcard.label'
        }
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/breakpoints';

.card-actions {
  background-color: $primary-light-blue;
  border-radius: 16px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 32px;
  display: flex;
  @include breakpoint-xl-down() {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 16px 16px 0px 0px;

  }

  @include breakpoint-lg-down() {
    position: relative;
    z-index: 1000;
  }

  .action {
    cursor: pointer;
    flex: 1;
    text-align: center;
    vertical-align: top;
    color: $lighter-silver-color;
    padding: 22px 10px;
    color: $primary-dark-blue;
    font-size: 13px;

    .action-label {
      margin-top: 7px;
      height: 30px;
    }
  }
}

</style>
