<template>
  <div class="card-wrapper">
    <card-header/>
    <div class="card-detail">
      <div class="card-tabs">
        <router-link to="/" :class="activeTab === 1 ? 'active' : ''" @click="activeTab=1">
          {{ $t('card.mydebitcard.label') }}
        </router-link>
        <router-link to="/" :class="activeTab === 2 ? 'active' : ''" @click="activeTab=2">
          {{ $t('card.allcompanycard.label') }}
        </router-link>
      </div>
      <el-card class="card-info" :body-style="{ padding: '0px' }">
        <el-row :gutter="24">
          <el-col :sm="24" :md="12">
            <div class="cards">
              <card-list/>
            </div>
            <card-actions/>
          </el-col>
          <el-col :sm="24" :md="12">
            <div class="card-info-details">
              <card-info :data="cardDetail" v-for="(cardDetail, index) in  cardDetails" :key="index"/>
            </div>
          </el-col>
        </el-row>
      </el-card>
    </div>


  </div>
</template>

<script>
import CardHeader from "./CardHeader";
import CardInfo from "./CardInfo"
import Card from "./Card";

import { mapGetters } from "vuex";
import CardActions from "./CardActions";
import CardList from "./CardList";
import * as card from "../../store/types/card";

export default {
  name: 'CardIndex',
  components: {
    CardActions,
    CardHeader,
    CardInfo,
    CardList,
  },
  data: () => {
    return {
      activeTab: 1,
      cardDetails: [
        {
          icon: 'card-detail.svg',
          label: 'card.carddetail.label'
        },
        {
          icon: 'recent-transactions.svg',
          label: 'card.recenttransactions.label'
        }
      ],
      headerOpt: {isVisible: true, backgroundColor: "green"},
      footerOpt: {isVisible: false}
    }
  },
  computed: {
    ...mapGetters({
      userCards: card.GET_USER_CARDS
    })
  },
  methods: {}
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/breakpoints';

.card-wrapper {
  .card-detail {
    .card-info {
      border: unset;
      padding: 60px 40px;
      box-shadow: 0 2px 12px rgb(0 0 0 / 0.1);
      @include breakpoint-xl-down() {
        padding: 50px 15px;
      }

      @include breakpoint-lg-down() {
        padding: 0px;
        background-color: unset;
        margin-top: 460px;
      }

      .cards {
        margin-top: -10px;
        @include breakpoint-lg-down() {
          padding-left: 24px;
          padding-right: 24px;
          margin-top: 50px;
          position: fixed;
          width: calc(100vw - 45px);
          top: 150px;
        }
      }
    }

    .card-tabs {
      margin-bottom: 20px;
      @include breakpoint-lg-down() {
        padding-left: 30px;
        padding-right: 30px;
        position: fixed;
        top: 125px;
      }

      a {
        color: $light-silver-color;
        margin-right: 32px;

        &.active {
          color: $dark-silver-color;
          font-weight: bold;
          border-bottom: 2px solid $under-line;
          padding-bottom: 5px;

          @include breakpoint-lg-down() {
            color: $white-color;
          }

        }
      }
    }

    .card-info-details {
      @include breakpoint-lg-down() {
        position: relative;
        z-index: 100;
        margin-top: 0px;
        padding-top: 30px;
        background-color: $white-color;
        padding-bottom: 80px;
      }
    }
  }


}

</style>
