<template>
  <div class="card-info-item">
    <el-button circle :class="item.reason"><i :class="getIcon(item.reason)"></i></el-button>
    <div class="info">
      <div class="name">{{ item.name }}</div>
      <div class="date">{{ item.date }}</div>
      <div class="type">
        <el-button circle class="type-icon"><i class="icon-Card"></i></el-button>
        <div class="type-name"> {{ $t('card.' + item.type + '.label') }}</div>
      </div>
    </div>
    <div class="amount" :class="item.type">
      {{ getAmount(item) }}
    </div>
    <i class="see-detail icon-Next"></i>
  </div>
</template>

<script>
import { transactionReasons, transactionTypes } from "../../enums/transaction";

export default {
  name: "CardInfoItem",
  props: {
    item: {
      type: Object,
      default: () => {
      }
    }
  },
  data: () => {
    return {
      transactionTypes: transactionTypes,
      icons: [
        {
          reason: transactionReasons.STORE,
          icon: 'icon-File-Storage'
        },
        {
          reason: transactionReasons.FLIGHT,
          icon: 'icon-Flights'
        },
        {
          reason: transactionReasons.SPEAKER,
          icon: 'icon-Mega-Phone'
        }
      ]
    };
  },
  methods: {
    getIcon(reason) {
      const icon = this.icons.find(i => i.reason === reason)
      return icon ? icon.icon : ''
    },
    getAmount(item) {
      const type = item.type === transactionTypes.CHARGED ? ' - ' : ' + '
      return `${type} ${item.currency} ${item.amount}`
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/breakpoints';

.card-info-item {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 24px 16px 24px;
  border-bottom: 1px solid $line-color;
  @include breakpoint-xl-down() {
    padding: 14px 0px 16px 0px;
  }

  @include breakpoint-lg-down() {
    padding: 14px 0px 16px 0px;
  }

  .el-button {
    height: 48px;
    width: 48px;
    border: unset;

    i {
      font-size: 15px;
    }

    &.store {
      background-color: $store-background;

      i {
        color: $store-icon;
      }
    }

    &.flight {
      background-color: $flight-background;

      i {
        color: $flight-icon;
      }
    }

    &.speaker {
      background-color: $speaker-background;

      i {
        color: $speaker-icon;
      }
    }
  }

  .info {
    margin-left: 12px;
    flex: 1;

    .name {
      font-weight: bold;
    }

    .date {
      color: $light-silver-color;
      margin-top: 5px;
    }

    .type {
      margin-top: 14px;
      color: $primary-blue;
      display: inline-block;

      .type-icon {
        width: 24px;
        height: 20px;
        padding: unset;
        min-height: unset;
        background-color: $primary-blue;

        i {
          font-size: 8px;
          color: $white-color;
        }
      }

      .type-name {
        display: inline-block;
        margin-left: 8px;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .amount {
    position: absolute;
    right: 24px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;

    @include breakpoint-lg-down() {
      margin-right: 45px;
    }

    &.refund {
      color: $primary-green;
    }
  }

  .see-detail {
    position: absolute;
    right: 24px;
    margin-top: 2px;
    color: $lighter-silver-color;
    @include breakpoint-lg-down() {
      right: 45px;
    }
  }

}

</style>
