<template>
  <div class="card-list">
    <div class="show-card-number" @click="showCardNumer"><i class="icon-Eye"></i> {{ $t('card.showcardnumber.label') }}
    </div>
    <Carousel>
      <Slide v-for="(userCard, index) in userCards" :key="index">
        <Card :data="userCard" :showInfo="showInfo"></Card>
      </Slide>
      <template #addons>
        <Pagination/>
      </template>
    </Carousel>
  </div>
</template>

<script>
import '../../assets/scss/elements/carousel.css'
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
import Card from "./Card";
import { mapGetters } from "vuex";
import * as card from "../../store/types/card";

export default {
  name: "CardList",
  components: {
    Carousel,
    Slide,
    Pagination,
    Card
  },
  computed: {
    ...mapGetters({
      userCards: card.GET_USER_CARDS
    })
  },
  data: () => {
    return {
      showInfo: false
    }
  },
  methods: {
    showCardNumer() {
      this.showInfo = !this.showInfo

    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/breakpoints';

.card-list {
  position: relative;

  .show-card-number {
    position: absolute;
    right: 20px;
    top: -18px;
    cursor: pointer;
    color: $primary-green;
    font-weight: bold;
    @include breakpoint-lg-down() {
      background-color: $white-color;
      padding: 8px 15px 15px 15px;
      border-radius: 6px 6px 0px 0px;
      right: 10px;
      top: -21px;
    }
  }
}

.carousel {
  &__slide {
    width: 100%;
    padding: 10px;
  }

  &__item {
    min-height: 200px;
    width: 100%;
    background-color: var(--carousel-color-primary);
    color: var(--carousel-color-white);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pagination-item {
    background-color: #01D167;
  }

  &__pagination-button--active {
    background-color: var(--vc-color);
  }
}

.carousel__slide > .carousel__item {
  transform: scale(1);
  opacity: 0.5;
  transition: 0.5s;
}

.carousel__slide--visible > .carousel__item {
  opacity: 1;
  transform: rotateY(0);
}

.carousel__slide--next > .carousel__item {
  transform: scale(0.9) translate(-10px);
}

.carousel__slide--prev > .carousel__item {
  transform: scale(0.9) translate(10px);
}

.carousel__slide--active > .carousel__item {
  transform: scale(1.1);
}
</style>
