<template>
  <div class="card-detail-wrapper">
    <div class="card-detail">
      <div class="card-title" @click="toggleList">
        <el-image :src="'images/' + data.icon"></el-image>
        <div class="card-title-label">{{ $t(data.label) }}</div>
        <i class="icon-Down" :class="[collapse ? 'down' : '']"></i>
      </div>
      <div class="card-content" v-if="collapse">
        <card-info-item :item="cardTransaction" v-for="(cardTransaction, index) in  cardTransactions" :key="index"/>
      </div>
    </div>
    <div class="load-more" v-if="collapse">
      {{ $t('card.viewallcardtransactions.label') }}
    </div>
  </div>
</template>

<script>
import CardInfoItem from "./CardInfoItem";
import { mapGetters } from "vuex";
import * as card from "../../store/types/card";

export default {
  name: "CardInfo",
  components: {CardInfoItem},
  props: {
    data: {
      type: Object,
      default: () => {
        return {};
      },
      required: true
    }
  },
  data: () => {
    return {
      collapse: false
    }
  },
  computed: {
    ...mapGetters({
      cardTransactions: card.GET_CARD_TRANSACTIONS
    })
  },
  methods: {
    toggleList() {
      this.collapse = !this.collapse
    }
  },
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/breakpoints';

.card-detail-wrapper {
  margin-bottom: 24px;

  .card-detail {
    position: relative;
    border-radius: 8px;
    border: 1px solid $line-color;
    z-index: 100;

    @include breakpoint-lg-down() {
      padding-left: 24px;
      padding-right: 24px;
      border-radius: 0px;
      border: unset;
    }

    .card-title {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding: 24px;
      background-color: $primary-lighter-blue;
      border-bottom: 1px solid $line-color;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0 2px 8px #0000000A;
      z-index: 100;

      @include breakpoint-lg-down() {
        border: 1px solid $line-color;
      }


      .card-title-label {
        flex: 1;
        margin-left: 7px;
        margin-top: 4px;
        color: $primary-dark-blue;
      }

      i {
        color: $primary-blue;
        font-size: 20px;
        opacity: 0.15;
        transform: rotate(0deg);
        transition: transform 0.3s linear;

        &.down {
          transform: rotate(180deg);
          transition: transform 0.2s linear;

        }
      }
    }

    .card-content {
      padding-left: 23px;
      padding-right: 23px;
      border-radius: 0px 0px 8px 8px;
      background-color: $white-color;
      position: relative;
      z-index: 1;

      @include breakpoint-xl-down() {
        padding-left: 14px;
        padding-right: 14px;
      }

      @include breakpoint-lg-down() {
        border: 1px solid $line-color;
        border-radius: 8px;
        margin-top: -74px;
        padding-top: 74px;
      }

      .card-info-item:last-child {
        border-bottom: unset;
      }
    }
  }

  .load-more {
    cursor: pointer;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    background-color: $primary-lighter-green;
    border: 1px solid $primary-light-green;
    margin-top: -5px;
    border-radius: 0px 0px 8px 8px;
    color: $primary-green;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 16px;
    z-index: 10;
    @include breakpoint-lg-down() {
      margin-left: 23px;
      margin-right: 23px;
    }
  }

}


</style>
