<template>
  <el-aside class="desktop-menu">
    <div class="logo">
      <i class="icon-Aspire-Logo"></i>
    </div>
    <div class="slogan">
      {{ $t('leftmenu.slogan.label') }}
    </div>
    <user-menu/>
  </el-aside>
</template>

<script>
import UserMenu from './UserMenu'

export default {
  name: "PageLeftMenu",
  components: {
    UserMenu
  }
}
</script>
