<template>
  <div class="mobile-menu">
    <user-menu />
  </div>
</template>

<script>
import UserMenu from './UserMenu'

export default {
  name: "PageFooter",
  components: {
    UserMenu
  }
}
</script>

<style scoped>

</style>
