<template>
  <div class="menus">
    <router-link v-for="(menu, index) in menus"
                 class="menu"
                 :key="index"
                 :to="menu.routerPath"
                 :title="$t(menu.label)">
      <i :class="menu.icon"></i>
      <div class="menu-label">{{
          $t(menu.label)
        }}
      </div>

    </router-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as global from '../../store/types/global'

export default {
  name: 'UserMenu',
  data: () => {
    return {}
  },
  computed: {
    ...mapGetters({
      menus: global.GET_MENUS
    })
  },
  methods: {},
  mounted() {
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/breakpoints';

.menu {
  font-size: 16px;
  color: $white-color;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  @include breakpoint-lg-down() {
    display: inline-block;
    color: $lighter-silver-color;
    padding: 12px 0px;
    width: 20%;
    text-align: center;
  }

  .menu-label {
    margin-left: 40px;
    margin-top: 4px;
    @include breakpoint-lg-down() {
      margin: auto;
      margin-top: 5px;
      font-size: 9px;
    }
  }

  i {
    position: absolute;
    font-size: 24px;
    @include breakpoint-lg-down() {
      position: unset;
      display: block;
      margin: auto;
    }
  }

  &.router-link-active, &:hover {
    color: $primary-green;
  }
}

</style>
