.carousel__icon {
    width: var(--vc-icn-width);
    height: var(--vc-icn-width);
    fill: currentColor;
}

.carousel__slide {
    scroll-snap-stop: auto;
    flex-shrink: 0;
    margin: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    /* Color */
    --vc-clr-primary: #01D167;
    --vc-clr-secondary: #DDFFEC;
    --vc-clr-white: #ffffff;

    /* Icon */
    --vc-icn-width: 1.2em;

    /* Navigation */
    --vc-nav-width: 30px;
    --vc-nav-color: #ffffff;
    --vc-nav-background-color: var(--vc-clr-primary);

    /* Pagination */
    --vc-pgn-width: 10px;
    --vc-pgn-height: 5px;
    --vc-pgn-margin: 5px;
    --vc-pgn-border-radius: 0;
    --vc-pgn-background-color: var(--vc-clr-secondary);
    --vc-pgn-active-color: var(--vc-clr-primary);
    --vc-pgn-bg-color: #DDFFEC;
}

.carousel__prev,
.carousel__next {
    background-color: var(--vc-nav-bg-color);
    border-radius: var(--vc-nav-width);
    width: var(--vc-nav-width);
    height: var(--vc-nav-width);
    text-align: center;
    font-size: calc(var(--vc-nav-width) * 2 / 3);
    padding: 0;
    color: var(--vc-nav-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 0;
    cursor: pointer;
}

.carousel__prev {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.carousel__next {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.carousel {
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.carousel * {
    box-sizing: border-box;
}

.carousel__track {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.carousel__viewport {
    overflow: hidden;
}

.carousel__pagination {
    display: flex;
    margin-left: -35px;
    margin-top: 0px;
    justify-content: center;
    list-style: none;
}

.carousel__pagination-button {
    margin: var(--vc-pgn-margin);
    width: 2px;
    height: 9px;
    border-radius: var(--vc-pgn-height);
    border: 0;
    cursor: pointer;
    background-color: var(--vc-pgn-active-color);
    opacity: 0.3;
}

.carousel__pagination-button--active {
    width: 20px;
    height: 9px;
    background-color: var(--vc-pgn-active-color);
    opacity: 1;
}

