<template>
  <div class="form-wrapper" :class="[wrapperCss]">
    <el-card class="box-card">
      <h3>{{ title }}</h3>
      <slot></slot>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "FormWrapper",
  props: {
    title: {
      type: String,
      default: ''
    },
    wrapperCss: {
      type: String,
      default: ''
    }
  },
}
</script>

<style lang="scss" scoped>
.form-wrapper{
  margin-top: 30px;
}
</style>
