<template>
  <div class="footer">
    <el-form-item>
      <el-button type="primary" id="submit" v-loading="isLoading" @click="$emit('onSubmit')">{{ submitText }}</el-button>
      <el-button @click="$emit('resetForm')" id="cancel">{{ cancelText }}</el-button>
    </el-form-item>
  </div>
</template>

<script>
export default {
  name: "FormFooter",
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    cancelText: {
      type: String,
      default: 'Cancel'
    },
    submitText: {
      type: String,
      default: 'Save'
    }
  },
}
</script>

<style lang="scss" scoped>
.footer {
  margin-top: 30px;
}

</style>
