html {
  overflow-x: hidden;
}

body {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  @include breakpoint-lg-down(){
    background-color: $primary-dark-blue;
  }
}

body,
table td,
table th {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.aspire-layout {
  width: 100%;
  height: 100%;

  .content-wrapper {
    padding: 60px;
    @include breakpoint-xl-down(){
      padding: 35px;
    }

    @include breakpoint-lg-down(){
      padding: 0px;
    }

    .user-form{
      h2 {
        color: $primary-green;
      }
    }

  }

  .desktop-menu {
    background-color: $primary-dark-blue;
    padding: 48px;
    height: 100vh;
    width: 340px;
    @include breakpoint-xl-down(){
      width: 240px;
      padding: 28px;
    }

    .logo {
      width: 125px;

      i {
        font-size: 35px;
        color: $primary-green;
      }
    }

    .slogan {
      margin-top: 19px;
      color: $white-color;
      opacity: 0.3;
    }

    .menus {
      margin-top: 80px;
      @include breakpoint-xl-down(){
        margin-top: 50px;
      }
    }
  }

  .mobile-menu {
    width: calc(100vw - 20px);
    position: fixed;
    bottom: 0px;
    padding: 0px 10px;
    background-color: $white-color;
    box-shadow: 0 -3px 6px rgb(0 0 0 / 0.1);
    z-index: 1000;
  }
}
