// Large devices (desktops, 991px and down)
@mixin breakpoint-lg-down() {
  @media only screen and (max-width: 991px) {
    @content;
  }
}

// Large devices (desktops, 992px and up)
@mixin breakpoint-lg() {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

// Extra large devices (large desktops, 1200px and up)
@mixin breakpoint-xl() {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}
// Extra large devices (large desktops, 1199px and down)
@mixin breakpoint-xl-down() {
  @media only screen and (max-width: 1399px) {
    @content;
  }
}


//Small Devices and in portrait mode
@mixin breakpoint-sm-down-portrait () {
  @media only screen
  and (max-width: 767px)
  and (max-device-aspect-ratio: 1/1)
  and (orientation: portrait) {
    @content;
  }
}

//Small Devices and in landscape mode
@mixin breakpoint-sm-down-landscape () {
  @media only screen
  and (max-width: 767px)
  and (min-device-aspect-ratio: 1/1)
  and (orientation: landscape) {
    @content;
  }
}

// tablet devices portrait (tablet, ipad)
@mixin breakpoint-tablet-portrait () {
  @media only screen
  and (min-width: 992px)
  and (max-width: 1000px)
  and (max-device-aspect-ratio: 1/1)
  and (orientation: portrait) {
    @content;
  }
}
// tablet devices landscape (tablet, ipad)
@mixin breakpoint-tablet-landscape () {
  @media only screen
  and (min-width: 1001px)
  and (max-width: 1366px)
  and (min-device-aspect-ratio: 1/1)
  and (orientation: landscape) {
    @content;
  }
}
