@font-face {
    font-family: 'aspire';
    src: url('./fonts/icomoon.eot?ej0um6');
    src: url('./fonts/icomoon.eot?ej0um6#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?ej0um6') format('truetype'),
    url('./fonts/icomoon.woff?ej0um6') format('woff'),
    url('./fonts/icomoon.svg?ej0um6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
