@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ej0um6');
  src:  url('fonts/icomoon.eot?ej0um6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ej0um6') format('truetype'),
    url('fonts/icomoon.woff?ej0um6') format('woff'),
    url('fonts/icomoon.svg?ej0um6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Payment:before {
  content: "\e900";
}
.icon-Account:before {
  content: "\e901";
}
.icon-Add:before {
  content: "\e902";
}
.icon-Aspire-Logo:before {
  content: "\e903";
}
.icon-Card:before {
  content: "\e904";
}
.icon-Cards:before {
  content: "\e905";
}
.icon-Up:before {
  content: "\e906";
}
.icon-Trash:before {
  content: "\e907";
}
.icon-Down:before {
  content: "\e908";
}
.icon-Up1:before {
  content: "\e909";
}
.icon-File-Storage:before {
  content: "\e90a";
}
.icon-Flights:before {
  content: "\e90b";
}
.icon-Freeze-card:before {
  content: "\e90c";
}
.icon-Group .path1:before {
  content: "\e90d";
  color: rgba(50, 91, 175, 0.15);
}
.icon-Group .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(50, 91, 175);
}
.icon-Group .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(35, 206, 253);
}
.icon-Recent .path1:before {
  content: "\e910";
  color: rgb(50, 91, 175);
  opacity: 0.15;
}
.icon-Recent .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(50, 91, 175);
}
.icon-Recent .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(35, 206, 253);
}
.icon-Aspire-Icon:before {
  content: "\e913";
}
.icon-Mega-Phone:before {
  content: "\e914";
}
.icon-Next:before {
  content: "\e915";
}
.icon-Eye:before {
  content: "\e91d";
}
.icon-Replace-card .path1:before {
  content: "\e91e";
  color: rgb(50, 91, 175);
}
.icon-Replace-card .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-Replace-card .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path1:before {
  content: "\e921";
  color: rgb(50, 91, 175);
}
.icon-Set-spend-limit .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path6:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path7:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(154, 192, 250);
}
.icon-Set-spend-limit .path8:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-Visa:before {
  content: "\e929";
}
