$primary-blue: #325BAF;
$primary-dark-blue: #0C365A;
$primary-green: #01D167;
$primary-light-green: #DDFFEC;
$primary-lighter-green: #EDFFF5;

$primary-light-blue: #EDF3FF;
$primary-lighter-blue: #F5F9FF;

$dark-silver-color: #222222;
$light-silver-color: #AAAAAA;
$lighter-silver-color: #DDDDDD;
$line-color: #F0F0F0;

$white-color: #FFFFFF;
$under-line: #23CEFD;

$store-background: #009DFF1A;
$store-icon: #009dff;

$flight-background: #00D6B51A;
$flight-icon: #00d6b5;

$speaker-background: #F251951A;
$speaker-icon: #f25195;



