@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nenx1e');
  src:  url('fonts/icomoon.eot?nenx1e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nenx1e') format('truetype'),
    url('fonts/icomoon.woff?nenx1e') format('woff'),
    url('fonts/icomoon.svg?nenx1e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Payment:before {
  content: "\e900";
}
.icon-Account:before {
  content: "\e901";
}
.icon-Add:before {
  content: "\e902";
}
.icon-Aspire-Logo:before {
  content: "\e903";
}
.icon-Card:before {
  content: "\e904";
}
.icon-Cards:before {
  content: "\e905";
}
.icon-Up:before {
  content: "\e906";
}
.icon-Trash:before {
  content: "\e907";
}
.icon-Down:before {
  content: "\e908";
}
.icon-Up1:before {
  content: "\e909";
}
.icon-File-Storage:before {
  content: "\e90a";
}
.icon-Flights:before {
  content: "\e90b";
}
.icon-Aspire-Icon:before {
  content: "\e913";
}
.icon-Mega-Phone:before {
  content: "\e914";
}
.icon-Next:before {
  content: "\e915";
}
.icon-Eye:before {
  content: "\e91d";
}
.icon-Visa:before {
  content: "\e929";
}
