<template>
  <div class="aspire-layout">
    <el-container>
      <page-left-menu v-if="!isMobile"/>
      <el-container>
        <el-main class="content-wrapper">
          <router-view/>
        </el-main>
      </el-container>
    </el-container>
    <page-footer v-if="isMobile"/>
  </div>
</template>
<script>
import { mapMutations, mapGetters } from 'vuex'
import * as global from './store/types/global'
import PageLeftMenu from "./components/layout/PageLeftMenu";
import PageFooter from "./components/layout/PageFooter";

export default {
  name: 'App',
  props: {},
  components: {PageLeftMenu, PageFooter},
  computed: {
    ...mapGetters({
      isMobile: global.IS_MOBILE
    })
  },
  methods: {
    ...mapMutations({
      setIsMobile: global.MUTATE_IS_MOBILE,
      setIsTablet: global.MUTATE_IS_TABLET,
    }),
    detectIsMobile() {
      this.setIsMobile();
      this.setIsTablet();
    },
  },
  mounted() {
    window.addEventListener('resize', this.detectIsMobile);
  },
  beforeUnmount() {
    window.removeEventListener('resize', this.handleOrientationChange, false);
  }
}
</script>
